<p id="alert" style="text-align:center;"><%= alert %></p>
<p id="notice" style="text-align:center;"><%= notice %></p>

<div class="login-background-container" style="background-image:url(<%= asset_path('spoonboards-login-background-black-overlay.jpg') %>);" >

  <div class="login-container">

    <div class="login-title-container">
      <img class="login-title-image" src="<%= asset_path('spoonboards-logo.png') %>" alt="Logo">
    </div>

    <div class="login-form">
      <%= form_tag create_path do %>
        <div class="login-email-wrapper">
          <%= email_field_tag :email, "", class: "login-email-input", placeholder: "                     email" %>
        </div>
        <div class="login-password-wrapper">
          <%= password_field_tag :password, "", class: "login-password-input", placeholder: "                  password" %>
        </div>
        <div class="login-or-wrapper">
          or
        </div>
        <div class="login-btn-wrapper">
          <!-- <button class="login-pinterest-btn"><i class="fa fa-pinterest-square"></i> &nbsp; <span><%= link_to 'Sign in with Pinterest', 'https://spoonboards.herokuapp.com/auth/pinterest' %> </span></button> -->
          <a href="https://spoonboards.herokuapp.com/auth/pinterest"><button class="login-pinterest-btn"><span>Sign in with Pinterest</span></button></a>
        </div>
        <div class="login-btn-wrapper">
          <a href="https://spoonboards.herokuapp.com/auth/facebook"><button class="login-facebook-btn"><span>Sign in with Facebook</span></button></a>
        </div>
        <div class="login-btn-wrapper">
          <a href="http://spoonboards.herokuapp.com/auth/twitter"><button class="login-twitter-btn"><span>Sign in with Twitter</span></button></a>
        </div>
        <div class="login-btn-wrapper">
          <%= submit_tag "login", class: "login-submit-btn" %>
        </div>
        <div class="login-register-account-wrapper">
          Don't have an account? &nbsp; <a class="login-register-account-link" href="users/new"> Register</a>
        </div>
      <% end %>
    </div>

  </div>
</div>
<!--  hide header and footer from login page after loggin out -->
<script>
  hideElement($("header"));
  hideElement($("footer"));
</script>
