<%= form_for(@user, remote: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <br>
  <div class="">
    <%= f.label :password %><br>
    <%= f.text_field :password, type: "password" %>
  </div>
  <br>
  <div class="">
    <%= f.submit "UPDATE", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", onclick: "notify('You updated your account.');" %>
    &nbsp; &nbsp; &nbsp;
    <%= link_to @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "new-board-back-btn", style: "vertical-align:middle;" do %><i class="fa fa-times" aria-hidden="true"></i><% end %>
  </div>
<% end %>
