<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="new-user-container">
  <div class="">
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="">
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </div>
  <br>
  <div class="">
    <%= f.label :password %> <br>
    <%= f.text_field :password %>
    <!-- <%= f.password_field :password, class: "login-password-input", placeholder: "password" %> -->
    <br>
  </div>
  <br>
  <br>
  <div class="">
    <%= f.submit "CREATE", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", onclick: "notify('You created a new account.');" %>
    <br>
    <br>
    <%= link_to users_path, class: "new-board-back-btn"  do  %><i class="fa fa-arrow-left" aria-hidden="true"></i><% end %>
  </div>
</div>
<% end %>
