
<div class="cart-container">
  <h3>Shopping Cart</h3>
  <ul class="cart-item-container cart-item-labels-container">
    <li class="cart-item-label-thumbnail"> Item</li>
    <li class="cart-item-label-name"> &nbsp; </li>
    <li class="cart-item-label-fabric"> Fabric </li>
    <li class="cart-item-label-quantity"> &nbsp; &nbsp; &nbsp; Qty </li>
    <li class="cart-item-label-price"> Price </li>
    <li class="cart-item-label-button"> &nbsp; </li>
    <li class="cart-item-label-btn"> &nbsp; </li>
    <li class="cart-item-label-btn"> &nbsp; </li>
    <li class="cart-item-label-btn"> &nbsp; </li>
  </ul>

  <%@cart.cart_items.where(purchased: nil, receipt_id: nil).each do |cart_item| %>
    <ul class="cart-item-container">
      <li>
        <img class="cart-item-thumbnail" src='<%= cart_item.thumbnail_url %>' >
      </li>
      <li>
        <%= form_for(cart_item, remote: true) do |f| %>
          <% if cart_item.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@cart_item.errors.count, "error") %> prohibited this cart_item from being saved:</h2>
              <ul>
                <% cart_item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
          </div>
        <% end %>
      </li>

      <li>
        <%= f.text_field :design_name, disabled: true, class: "cart-item-name" %>
      </li>
      <li>
        <div class="cart-item-fabric"><%= f.select :fabric_type, @fabric_type_options, class: "test-select" %></div>
      </li>
      <li>
        <%= f.number_field :quantity, class: "cart-item-quantity", min: "1", step: "1" %>
      </li>
      <li>
        <div class="cart-item-price"><%= number_to_currency(cart_item.price)%></div>
      </li>
      <li>
        <%= button_to cart_item, type: 'submit', method: :get, class: "cart-update-btn mdl-button mdl-js-button mdl-button--icon", onclick: "notify('You have updated the cart.');" do %>
          <i class="fa fa-refresh" aria-hidden="true"></i>
        <% end %>
      </li>
    <% end %>

      <li>
        <%= button_to cart_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "cart-remove-btn mdl-button mdl-js-button mdl-button--icon" do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
    <br>
  <% end %>

  <div class="cart-item-totals-wrapper">
    <div class="cart-item-totals-label">Subtotal:</div><div class="cart-show-da-money"><%= number_to_currency(@amount) %></div><br>
    <div class="cart-item-totals-label">Tax:</div><div class="cart-show-da-money">$0.00</div><br>
    <div class="cart-item-totals-label">Shipping:</div><div class="cart-show-da-money">$0.00</div><br>
    <div class="cart-item-totals-label"><strong>Total:</strong></div><div class="cart-show-da-money"><%= number_to_currency(@amount) %></div><br>
  </div>
  <div class="cart-checkout-btn-wrapper"><%= button_to 'Checkout', new_charge_path, class: "cart-item-btn cart-checkout-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %></div>
  <div class="cart-checkout-btn-wrapper"><%= button_to 'Clear', @cart, class: "cart-item-btn cart-clear-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", :remote => true, :method => :get, onclick: "notify('You have cleared the cart.')" %></div>
</div>

<script>
  // hideElement(".header-search-container");

// format design name string
$(".cart-item-name").each(function(){
  $(this).val(truncate($(this).val(), 35));
});


// $(".cart-item-name").val("KOOOOOL!")

</script>
