
<div class="cart-container">
  <h1>Shopping Cart</h1>
  <ul class="cart-item-container cart-item-labels-container">
    <li class="cart-item-label-thumbnail">Item</li>
    <li class="cart-item-label-name"> &nbsp; </li>
    <li class="cart-item-label-fabric"> Fabric </li>
    <li class="cart-item-label-quantity"> Qty </li>
    <li class="cart-item-label-price"> Price </li>
    <li class="cart-item-label-button"> &nbsp; </li>
    <li class="cart-item-label-btn"> &nbsp; </li>
    <li class="cart-item-label-btn"> &nbsp; </li>
    <li class="cart-item-label-btn"> &nbsp; </li>
  </ul>

  <%@cart.cart_items.where(purchased: nil, receipt_id: nil).each do |cart_item| %>
    <ul class="cart-item-container">
      <li>
        <img class="cart-item-thumbnail" src='<%= cart_item.thumbnail_url %>' >
      </li>
      <li>
        <%= form_for(cart_item, remote: true) do |f| %>
            <% if cart_item.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@cart_item.errors.count, "error") %> prohibited this cart_item from being saved:</h2>
                <ul>
                <% cart_item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
        </li>

        <li class="field">
          <%= f.label :fabric_type %><br>
          <%= f.select :fabric_type, @fabric_type_options %>

        </li>
        <li class="field">
        <%= f.label :design_name, class: "cart-item-label-name" %><br>
        <%= f.text_field :design_name, disabled: true, class: "cart-item-name" %>
        </li>
        <li class="field">
        <!-- <%= f.label "Qty", class: "cart-item-label-quantity" %><br> -->
          <%= f.number_field :quantity, class: "cart-item-quantity" %>
        </li>
        <li class="field">
          <%= f.label :price, class: "cart-item-label-price" %><br>
          <%= f.text_field :price, class: "cart-item-price" %>
        </li>

        <li class="actions">
          <%= f.submit "Update", class: "cart-item-btn" %>
        </li>
    <% end %>

        <li>
          <%= button_to 'Remove', cart_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "cart-item-btn" %>
        </li>

      </ul>
      <br>


    <% end %>
    <div class="cart-item-totals-wrapper">
      <div class="cart-item-totals-label">Subtotal:</div><div><%= @amount %></div><br>
      <div class="cart-item-totals-label"></div><div>$0.00</div><br>
      <div class="cart-item-totals-label">Shipping:</div><div>$0.00</div><br>
      <div class="cart-item-totals-label">Total:</div><div><%= @amount %></div><br>
    </div>

    <div class="cart-checkout-btn-wrapper"><%= link_to 'Clear Cart', @cart, class: "cart-item-btn", :remote => true %></div>
    <div class="cart-checkout-btn-wrapper"><%= button_to 'Checkout', new_charge_path, class: "cart-item-btn" %></div>
</div>

<script>
  hideElement(".header-search-container");
</script>
