<p id="notice"><%= notice %></p>

<h1>Shopping Cart</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_stuff = [] %>
    <% @carts.each do |cart| %>
    <%cart.cart_items.each do |cart_item| %>
      <% cart_item.id %>
      <% @cart_stuff << cart_item.id %>
      <img class="design-thumbnail" src="<%= cart_item.thumbnail_url %>" >
      <td><%= link_to 'Show', cart_item %> |</td>
      <td><%= link_to 'Edit', edit_cart_item_path(cart_item) %> |</td>
      <td><%= link_to 'Remove', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %><br>
    <% end %>
  </tbody>
        <td><%= link_to 'Checkout', new_charge_path(@cart_stuff) %></td>
</table>
