
  <%= form_for(@board) do |f| %>
    <% if @board.errors.any? %>
        <div>Please log in first to create a board.</div>
    <% end %>

    <div class="new-board-container">
      <%= f.label :name %> &nbsp;
      <%= f.text_field :name %>
      <br>
      <%= f.hidden_field :user_id, value: session[:user_id] %>
      <br>
      <%= f.submit "CREATE", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", onclick: "notify('You created a board.');" %>
      <br>
      <br>
      <%= link_to boards_path, class: "new-board-back-btn"  do %><i class="fa fa-arrow-left" aria-hidden="true"></i><% end %>
    </div>
  <% end %>
