
<div class="boards-index-container">
  <div><h1>My SpoonBoards</h1></div>
  <div class="boards-index-btn-wrapper">
    <a href="<%= new_board_path %>"><button class="boards-index-create-btn">New Board</button></a>
  </div>
  <% @boards.each do |board| %>
    <div class="boards-index-card">
      <div class="boards-index-card-name">
        <%= board.name %>
      </div>
      <% if board.designs.as_json.length > 0 %>
        <div class="boards-index-card-image-wrapper">
        <img class="boards-index-card-image" src="<%= board.designs.first.get_json_for_design(board.designs.first.spoonflower_id, board.designs.first.id).third %>">
        </div>
      <% else %>
      <div class="boards-index-card-image-wrapper">
        <img class="boards-index-card-image" src="http://cliparts.co/cliparts/pki/8aL/pki8aL4cr.png">
        </div>
      <% end %>
        <div class="boards-index-card-btn-container">
          <div class="boards-index-card-btn-wrapper">
            <%= link_to board do %>
              <!-- <button class="boards-index-show-btn"><i class="fa fa-eye" aria-hidden="true"></i></button> -->
              <button class="boards-index-show-btn">Show</button>
            <% end %>
          </div>
          <!-- <div class="boards-index-card-btn-wrapper">
            <%= link_to 'Edit', edit_board_path(board) %>
            <a href="<%= edit_board_path(board) %>"><button class="boards-index-edit-btn">Edit</button></a>
          </div> -->
          <div class="boards-index-card-btn-wrapper">
            <!-- <%= link_to 'Remove', board, method: :delete, data: { confirm: 'Are you sure?' } %> -->
            <%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <!-- <button class="boards-index-remove-btn"><i class="material-icons">delete</i></button> -->
              <button class="boards-index-remove-btn">Remove</button>
            <% end %>
          </tr>
          </div>
        </div>
    </div>
  <% end %>
</div>
