
<<<<<<< HEAD
  <h1>My SpoonBoards</h1>
  <p id="notice"><%= notice %></p>
  <table>
    <thead>
      <tr>
        <!-- <th></th>
        <th>Name</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td><img src="<%= board.get_first_image %>" width="100" height="100"></td>
          <td> &nbsp; <%= board.name %></td>
          <td> &nbsp; <%= link_to 'Show', board %></td>
          <td> &nbsp; <%= link_to 'Edit', edit_board_path(board) %></td>
          <td> &nbsp; <%= link_to 'Remove', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <br>

  <%= link_to 'Create a New Board', new_board_path %>

  <br>
=======
<div class="boards-index-container">
  <div><h1>SpoonBoards</h1></div>
  <div id="notice"><%= notice %> &nbsp; </div>
  <div class="boards-index-btn-wrapper">
    <!-- <%= link_to 'New Board', new_board_path, class: "boards-index-create-btn" %> -->
    <a href="<%= new_board_path %>"><button class="boards-index-create-btn">New Board</button></a>
  </div>
  <% @boards.each do |board| %>
    <div class="boards-index-card">
      <div class="boards-index-card-name">
        <%= board.name %>
      </div>
      <% if board.designs.as_json.length > 0 %>
        <div class="boards-index-card-image-wrapper">
          <img class="boards-index-card-image" src="<%= board.designs.first.get_json_for_design(board.designs.first.spoonflower_id, board.designs.first.id).third %>">
        </div>
      <% else %>
      <% end %>
        <div class="boards-index-card-btn-container">
          <div class="boards-index-card-btn-wrapper">
            <!-- <%= link_to 'Show', board %> -->
            <%= link_to board do %>
              <button class="boards-index-show-btn">Show</button>
            <% end %>
          </div>
          <div class="boards-index-card-btn-wrapper">
            <!-- <%= link_to 'Edit', edit_board_path(board) %> -->
            <a href="<%= edit_board_path(board) %>"><button class="boards-index-edit-btn">Edit</button></a>
          </div>
          <div class="boards-index-card-btn-wrapper">
            <!-- <%= link_to 'Remove', board, method: :delete, data: { confirm: 'Are you sure?' } %> -->
            <%= link_to board, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <button class="boards-index-remove-btn">Remove</button>
            <% end %>
          </tr>
          </div>
        </div>
    </div>
  <% end %>
</div>
>>>>>>> master
