
<!-- <div class="spoonboard-continer"> -->

  <!-- Debugging code DO NOT ERASE Please ;-) -->
  <!-- <p>
    <strong>Board ID:</strong>
    <%= @board.id %>
  </p>

  <p>
    <strong>Designs:</strong>
    <%= @board.designs.as_json %>
  </p> -->


  <p id="notice"><%= notice %> &nbsp; </p>

  <div class="board-container">
    <div class="board-name-wrapper">
      <div class="board-name"><%= @board.name %></div>

    </div>
    <% @feature_display.each do |design|%>
      <div class="board-card">
        <script async defer data-pin-hover="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
        <img class="design-thumbnail" src="<%= design.third %>">
        <div class="design-id">Design ID: <%= design.first %>, &nbsp; Board ID: <%= design[3] %></div>
        <!-- <div class="design-id">Board ID: <%= design[3] %></div> -->
<<<<<<< HEAD
        <div class="design-name">Name: <%= design.second %></div>
        <div class="design-board-btn-wrapper"><%= button_to "Remove", design_path(:design_id => design[3]), :method => :delete, class: "design-board-btn", remote:true %></div>
=======

        <a href = "https://spoonflower.com/fabric/<%= design.first %>", target="_blank"><div class="design-name">Name: <%= design.second %> </a></div>
        <div class="design-board-btn-wrapper"><%= button_to "Remove", design_path(:design_id => design[3]), :method => :delete, class: "design-board-btn" %></div>
>>>>>>> master



<!-- <div class="board-design-hover-content"> XXXXX </div> -->

      </div>
      <!-- </div> -->
    <% end %>
  </div>

  <!-- <br>
  <br>

  <%= link_to 'Edit', edit_board_path(@board) %> | <%= link_to 'My Boards', boards_path %>

  <br>
  <br> -->

  <script>
   // this is what makes the row disapear after destroy happens
  $(".design-board-btn").on("click", hideCard );
  </script>




<!-- </div> -->
