  <div class="board-container">
    <div class="board-name-wrapper">
      <div class="board-name"><%= @board.name %> <span class="board-function-hamburger"><i class="fa fa-bars" aria-hidden="true"></i></span></div>

      <div class="board-function-bar">

        <div>
          <%="you are not private" if @board.marked_private == nil  %>
          <%="you are private" if @board.marked_private == true  %>
          <%="you are not private" if @board.marked_private == false  %>
        </div>

        <div>
            <% if @board.user_id == session[:user_id] %>
            <div class="design-board-btn-wrapper"><%= button_to "Add Entire Board", cart_items_add_entire_board_path(:board_id => @board.id, :fabric_type => @board.fabric_type), :method => :post, class: "design-board-btn" %></div>
            <% end %>

            <div class="design-board-btn-wrapper"><%= button_to "Clone Board", boards_clone_board_path(:board_id => @board.id), :method => :post, class: "design-board-btn" %></div>
          <% if @board.user_id == session[:user_id] %>
            <%= form_for(@board, remote: true) do |f| %>
              <% if @board.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>
                  <ul>
                  <% @board.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="field">
                <%= f.label :name %><br>
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.hidden_field :user_id, value: session[:user_id] %>
              </div>
              <div class="field">
                <%= f.label :marked_private %><br>
                <%= f.check_box :marked_private %>
              </div>

              <div class="field">
                <%= f.label :fabric_type %><br>
                <%= f.select :fabric_type, @fabric_type_options %>
              </div>

              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>
          <% end %>
        </div>
<!-- ================== -->
      </div> <!-- end of borad-function-bar -->

    </div> <!-- end of borad-function-wrapper -->

<!-- ========= -->
<div class="gridster">
    <ul>
<!-- ========= -->

    <% @feature_display.each do |design|%>
<li class="board-card" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <!-- <div class="board-card"> -->
        <script async defer data-pin-hover="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
        <img class="design-thumbnail" src="<%= design.third %>">
        <div class="board-card-design-id">Design ID: <%= design.first %>, &nbsp; Board ID: <%= design[3] %></div>
        <!-- <div class="board-card-design-id">Board ID: <%= design[3] %></div> -->
        <div class="board-card-design-name-wrapper">Name: <a href = "https://spoonflower.com/fabric/<%= design.first %>", target="_blank"><span class="board-card-design-name"><%= design.second %></span></a></div>

        <% if @board.user_id == session[:user_id] %>
          <div class="design-board-btn-wrapper"><%= button_to "Remove", design_path(:design_id => design[3]), :method => :delete, class: "design-board-btn remove", remote: true %></div>
          <div class="design-board-btn-wrapper"><%= button_to "Add to Cart", cart_items_add_to_cart_path(:design_id => design[3],:fabric_type => @board.fabric_type), :method => :post, class: "design-board-btn" %></div>
        <% end %>
      <!-- </div> -->
      <div>
            <%= form_tag({controller: "designs", action: "create"}, remote: true) do %>
            <%= label_tag(:board_id, "Board:") %>
            <%= select_tag "design[board_id]", options_for_select(@boards.collect{ |u| [u.name, u.id] })%>
            <%= submit_tag("Add") %>
            <%= hidden_field_tag "design[spoonflower_id]",design.first %>
            <% end %>
      </div>

    <!-- </div> -->

</li>

    <% end %>
<!-- ========= -->
  </ul>
</div>
<!-- ========= -->
  </div>

  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  <script>

    $(bindDeleteDesign);

    // format design name string
    $(".board-card-design-name").each(function(){
      $(this).html(truncate($(this).html()));
    });


var boardFunctionVisible = false;
/*
* event hanldler for board funciton 'Hamburger' - toggle visibility
*/
$(".board-function-hamburger").on("click", function() {
  console.log("** board hamburger click **");
  if (boardFunctionVisible) {
    $(".board-function-bar").slideUp(300);
    boardFunctionVisible = false;
  }
  else {
    $(".board-function-bar").slideDown(300);
    boardFunctionVisible = true;
  }
});

//  initialize drag & drop
$(".gridster ul").gridster({
  widget_margins: [5, 5],
  widget_base_dimensions: [200, 290]
});

  </script>
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
