<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>


<p>
  <strong>Board ID:</strong>
  <%= @board.id %>
</p>

<p>
  <strong>Designs:</strong>
  <%= @board.designs.as_json %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back to My Boards', boards_path %>
