<div class="market-search-container">

  <h1>Marketplace Search Results</h1>

  <p id="notice"><%= notice %></p>

  <div class="market-search-resutls-container">

      <% @feature_display.calculate_results.each do |x| %>
        <div class='market-search-result-card'>
          <img class="design-thumbnail" src="<%= x.as_json.first.second[2] %>" >
          <div class="design-id">ID: <%= x.as_json.first.second[0] %></div>
          <div class="design-name">Name: <%= x.as_json.first.second[1] %></div>
          <div class="design-form-wrapper"><%= form_tag(controller: "designs", action: "create", method: "get", class: "design-form") do %></div>
          <div class="design-board-dropdown-label-wrapper"><%= label_tag(:board_id, "Board:", class: "design-board-dropdown-label") %> &nbsp; </div>
          <div class="design-board-dropdown-wrapper"><%= select_tag "design[board_id]", options_for_select(@boards.collect{ |u| [u.name, u.id] }), class: "design-board-dropdown" %></div>
          <div class="design-board-add-btn-wrapper"> &nbsp; <%= submit_tag("Add", class: "design-board-add-btn") %> </div>
          <div class="design-borad-hidden-spoonflower-id-wrapper"><%= hidden_field_tag "design[spoonflower_id]",x.as_json.first.second[0] %> </div>
        </div>
        <% end %>
      <% end %>

    <br>
    <br>

    <%= link_to 'New Search', boards_path %>

  </div>
</div>
