<div class="search-results-container">
  <h3>Spoonflower Search Results</h3>
  <% @feature_display.calculate_results.each do |x| %>
    <div class='design-card'>

      <div class="design-card-image-wrapper">  <!-- box -->
        <img class="design-thumbnail" src="<%= x.as_json.first.second[2] %>" >
        <div class="design-card-image-overlay"> <!-- overlay -->
          <div class="design-card-image-overlay-content">  <!-- content -->

            <div class="design-id-wrapper"><span>Product ID <br> </span><span class="design-id"><%= x.as_json.first.second[0] %></span></div>

            <div class="design-name-wrapper"><span>Name</span> <br> <span class="design-name"><%= x.as_json.first.second[1] %></span></div>

            <div class="design-form-wrapper"><%= form_tag({controller: "designs", action: "create"}, remote: true, class: "design-form") do %></div>
            <div class="design-board-dropdown-label-wrapper"><%= label_tag(:board_id, "SpoonBoard", class: "design-board-dropdown-label") %> &nbsp; </div>

            <div class="design-board-dropdown-wrapper"><%= select_tag "design[board_id]", options_for_select(@boards.collect{ |u| [u.name, u.id] }), class: "design-board-dropdown" %></div>
            &nbsp;
            <div class="design-board-btn-wrapper">

              <%= button_tag(type: "submit", class: "mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect design-card-overlay-add-button", onclick: "notify('You added a design to a board.');") do %>
                <i class="material-icons">add</i>
              <% end %>
            </div>
            <div class="design-card-add-board-msg">Added</div> &nbsp;

          </div>
        </div>
      </div>

      <div class="design-board-hidden-spoonflower-id-wrapper"><%= hidden_field_tag "design[spoonflower_id]",x.as_json.first.second[0] %> </div>
    </div>
    <% end %>
  <% end %>

</div>

<!-- put infinite scroll trigger element in DOM -->
<script>
  addScrollTrigger($(".design-card:last").prev().prev().prev().prev().prev());

  // format design name string
  $(".design-name").each(function(){
    $(this).html(truncate($(this).html(), 21));
  });

</script>
