
<div class="search-results-container">
  <br>
  <h1>Spoonflower Search Results</h1>
  <br>
  <% @feature_display.calculate_results.each do |x| %>
    <div class='design-card'>

      <div class="design-card-image-wrapper">  <!-- box -->
          <img class="design-thumbnail" src="<%= x.as_json.first.second[2] %>" >
        <div class="design-card-image-overlay"> <!-- overlay -->
          <div class="design-card-image-overlay-content">  <!-- content -->

            <br>

<div class="design-id">ID: <%= x.as_json.first.second[0] %></div>
<br>
<div class="design-name">Name: <%= x.as_json.first.second[1] %></div>
<br>
<div class="design-form-wrapper"><%= form_tag({controller: "designs", action: "create"}, remote: true, class: "design-form") do %></div>
<div class="design-board-dropdown-label-wrapper"><%= label_tag(:board_id, "Select Board:", class: "design-board-dropdown-label") %> &nbsp; </div>
<br>
<div class="design-board-dropdown-wrapper"><%= select_tag "design[board_id]", options_for_select(@boards.collect{ |u| [u.name, u.id] }), class: "design-board-dropdown" %></div>
&nbsp;
<div class="design-board-btn-wrapper"> <%= submit_tag("Add", class: "design-board-btn", onclick: "notify('You added a design to a board!'); alert('You added a design to a board!')") %> </div>

          </div>
        </div>
      </div>



      <div class="design-borad-hidden-spoonflower-id-wrapper"><%= hidden_field_tag "design[spoonflower_id]",x.as_json.first.second[0] %> </div>
    </div>
    <% end %>
  <% end %>
  <%= csrf_meta_tags %>
</div>

<!-- put infinite scroll trigger element in DOM -->
<script>
  addScrollTrigger($(".design-card:last").prev().prev().prev().prev().prev());
</script>
