<div class="market-search-container">

  <h1>Market Place Search Results</h1>

  <p id="notice"><%= notice %></p>

  <div class="market-search-resutls-container">

      <% @feature_display.calculate_results.each do |x| %>
        <div class='market-search-result-card'>
          <img class="design-thumbnail" src="<%= x.as_json.first.second[2] %>" >
          <div class="design-id">ID: <%= x.as_json.first.second[0] %></div>
          <div class="design-name">Name: <%= x.as_json.first.second[1] %></div>
          <label class="design-checkbox-label" for="design-checkbox">Select: </label>
          <input class="design-checkbox" type="checkbox" name="design-checkbox" value="<%= x.as_json.first.second[0] %>">
        </div>
      <% end %>

    <br>
    <br>
    <%= link_to 'New Search', new_search_path %>

  </div>
</div>
