<div class="order-receipt">
  <h4>Thank you for placing an order!</h4>
  <h4>Amount Paid: </h4><%= number_to_currency(@amount, :unit => "$") %>, <%= @charge[:source][:brand] %> **** **** **** <%= @charge[:source][:last4] %><br>
  <h4>Recipient: </h4><%= @charge[:source][:name] %>

  <h4>Shipping Address: </h4>
  <%= @charge[:source][:address_line1]%><br>
  <%= @charge[:source][:address_line2] %>
  <%= @charge[:source][:address_city] %>, <%= @charge[:source][:address_state] %> <%= @charge[:source][:address_zip] %><br>
  <%= @charge[:source][:address_country] %>

  <br>
  <br>

  <p>
    <!-- <%= link_to 'Back to Boards', boards_path %> -->
    <%= link_to boards_path, class: "new-board-back-btn"  do %><i class="fa fa-arrow-left" aria-hidden="true"></i><% end %>
  </p>
</div>
