<h2>Thank you for placing an order!</h2>
<h3>Amount Paid: </h3><%= number_to_currency(@amount, :unit => "$") %>, <%= @charge[:source][:brand] %> **** **** **** <%= @charge[:source][:last4] %><br>
<h3>Recipient: </h3><%= @charge[:source][:name] %>

<h3>Shipping Address: </h3>
<%= @charge[:source][:address_line1]%><br>
<%= @charge[:source][:address_line2] %>
<%= @charge[:source][:address_city] %>, <%= @charge[:source][:address_state] %> <%= @charge[:source][:address_zip] %><br>
<%= @charge[:source][:address_country] %>
