<!DOCTYPE html>
<html>
<head>
  <title>Spoonboards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
  <% if session[:user_id] %>
      <%=  link_to "Users Page", users_path %> |
      <%=  link_to "Logout", logout_path %>
    <% else %>
      <%=  link_to "Login", login_path %>
    <% end %>
</header>

<%= yield %>

</body>
</html>
